@font-face {
    font-family: 'Roboto400';
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Inter400';
    src: url("../fonts/Inter_28pt-Light.ttf");
}

@font-face {
    font-family: 'Roboto500';
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: 'Inter600';
    src: url("../fonts/Inter_28pt-SemiBold.ttf");
}

@font-face {
    font-family: 'Roboto700';
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Inter700';
    src: url("../fonts/Inter_28pt-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg_blue: #1391CEB2;
    --bg_blue2: #1391CE;
    --color1: #25468A;
    --color2: #14274C;
    --color3: #3B4A6B;
    --color4: #1391CE;
    --color5: #4F4F4F;
    --white: #FFFFFF;
    --roboto400: 'Roboto400';
    --roboto500: 'Roboto500';
    --roboto700: 'Roboto700';
    --Inter400: 'Inter400';
    --Inter600: 'Inter600';
    --Inter700: 'Inter700';
}

.header {
    max-width: 100%;
    height: 95px;
    background-color: var(--bg_blue);
    padding-top: 41px;
}

.container {
    max-width: 1152px;
    height: 54px;
    margin: 0 auto;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    max-width: 100%;
    height: 37px;
}

.content,
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.header_item_link {
    text-decoration: none;
    color: var(--color1);
    transition: .5s;
    padding-bottom: 2px;
}

.header_item_link:hover {
    color: var(--white);
    border-bottom: 1px solid #FFFFFF;
    transition: .5s;
}

.header_item_list {
    list-style-type: none;
    font-family: var(--roboto500);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    border-bottom: 1px solid transparent;
}

.header_btn {
    width: 116px;
    height: 37px;
    padding: 9px 18px 9px 18px;
    border-radius: 24px;
    background: #FFFFFF;
    border: transparent;
    color: #14274C;
    font-family: var(--roboto500);
    transition: .5s;
    cursor: pointer;
}

.header_btn:hover {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: var(--white);
    transition: .5s;
}

@media (max-width:770px) {
    .header_item_link {
        font-size: 14px;
    }

    .content {
        gap: 25px;
    }
}

@media (max-width:670px) {
    .content {
        display: none;
    }
}

@media (max-width:400px) {
    .header_btn {
        width: 90px;
        height: 37px;
        padding: 0px 0px;
    }
}

/* over */

.main {
    max-width: 100%;
    height: 548px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg_blue);
}

.main_content {
    max-width: 1152px;
    height: 401px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 98px 16px 49px 16px;
}

.h_one {
    font-family: var(--roboto700);
    font-size: 92px;
    font-weight: 700;
    line-height: 107.81px;
    color: var(--color1);

}

.main_title1 {
    font-family: var(--roboto400);
    font-size: 32px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: left;
    color: var(--color3);
    margin-top: 8px;
    margin-bottom: 42px;
}

.main_title2 {
    max-width: 560px;
    top: 375px;
    font-family: var(--roboto400);
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    color: var(--color3);
}

.main_btn {
    width: 263px;
    height: 51px;
    border-radius: 26px;
    border: transparent;
    background-color: #F7BA0E;
    font-family: var(--roboto500);
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    letter-spacing: 0.04em;
    background-color: #F7BA0E;
    color: var(--color3);
    margin-top: 24px;
    transition: .5s;
    cursor: pointer;
}

.main_btn:hover {
    background: transparent;
    color: #F7BA0E;
    border: 1px solid #F7BA0E;
    transition: .5s;
}

.main_img {
    max-width: 560px;
    height: 401px;
}

@media (max-width:1120px) {
    .main_img {
        max-width: 400px;
        height: 320px;
    }
}

@media (max-width:950px) {
    .h_one {
        font-size: 70px;
    }

    .main_title1 {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

@media (max-width:800px) {
    .main_content {
        flex-direction: column;
        gap: 50px;
        height: auto;
    }

    .main {
        height: auto;
    }

    .main_title1,
    .main_title2 {
        text-align: center;
        max-width: 650px;
    }

    .main_left_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width:450px) {
    .main_img {
        max-width: 300px;
        height: 240px;
    }

    .h_one {
        font-size: 50px;
        line-height: 100px;
    }

    .main_title1 {
        font-size: 22px;
    }

    .main_title2 {
        font-size: 16px;
    }

    .main_btn {
        width: 300px;
        height: 40px;
    }
}

@media (max-width:360px) {
    .main_img {
        max-width: 250px;
        height: 200px;
    }

    .main_btn {
        width: 220px;
        height: 40px;
        font-size: 16px;
    }

    .main_content {
        padding: 40px 16px 49px 16px;
    }
}

/* over */

.section_content {
    max-width: 1120px;
    height: 189px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 176px;
    margin-bottom: 63px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 32px;
    padding: 0px 16px;
}

.section_one_child {
    max-width: 352px;
    height: 189px;
    border-radius: 8px;
    background: var(--bg_blue2);
    box-shadow: 0px 4px 6px 0px #0000000D;
    box-shadow: 0px 10px 15px 0px #1F64851A;
    font-family: var(--roboto700);
    font-size: 22px;
    font-weight: 700;
    line-height: 25.78px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}

@media (max-width:951px) {
    .section_one_child {
        font-size: 18px;
    }
}

@media (max-width:830px) {
    .section_content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
        gap: 50px;
    }
}

@media (max-width:627px) {
    .section_one_child {
        font-size: 16px;
    }
}

@media (max-width:550px) {
    .section_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: auto;
        gap: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .section_one_child {
        padding: 0px 50px;
    }
}

@media (max-width:340px) {
    .section_one_child {
        font-size: 14px;
    }
}

/* over */

.section_two_content {
    max-width: 1169px;
    height: 1783px;
    margin: 0 auto;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 96px;
}

.big_section_child_one {
    max-width: 387px;
    height: 111.83px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.big_section_child_one>span {
    max-width: 387px;
    font-family: var(--Inter400);
    font-size: 36px;
    font-weight: 300;
    line-height: 43.67px;
    letter-spacing: 0.01em;
    color: var(--color4);
}

.big_section_child_one>hr {
    width: 160px;
    height: 8px;
    background: #F7BA0E;
}

.big_section_child_two {
    max-width: 1120px;
    height: 408px;
    display: flex;
    justify-content: center;
    gap: 96px;
}

.section_big_img1 {
    max-width: 560px;
    height: 408px;
    border-radius: 8px;
    box-shadow: 0px 10px 10px 0px #0000000A;
    box-shadow: 0px 20px 25px 0px #0000001A;
}

.big_section_top_text1 {
    font-family: var(--Inter400);
    font-size: 16px;
    font-weight: 400;
    line-height: 21.49px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--color1);
}

.big_section_top_text2 {
    font-family: var(--Inter700);
    font-size: 32px;
    font-weight: 700;
    line-height: 42.98px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--color4);
    margin-top: 16px;
    margin-bottom: 32px;
}

.big_section_top_text3 {
    max-width: 408px;
    height: 144px;
    font-family: var(--Inter400);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.17px;
    letter-spacing: 0.02em;
}

.big_section_child_there {
    max-width: 1120px;
    height: 455px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 96px;
}

.big_section_left {
    display: flex;
    flex-direction: column;
}

.section_big_img2 {
    max-width: 560px;
    height: 408px;
    border-radius: 8px;
    box-shadow: 0px 10px 10px 0px #0000000A;
    box-shadow: 0px 20px 25px 0px #0000001A;
}

.big_section_left_text1 {
    font-family: var(--Inter400);
    font-size: 16px;
    font-weight: 400;
    line-height: 21.49px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--color1);
}

.big_section_left_text2 {
    font-family: var(--Inter700);
    font-size: 32px;
    font-weight: 700;
    line-height: 42.98px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--color4);
    margin-top: 16px;
    margin-bottom: 32px;
}

.big_section_left_text3 {
    width: 448px;
    font-family: var(--Inter400);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--color5);
}


.big_section_left_text4 {
    font-family: var(--Inter600);
    font-weight: 600;
    line-height: 29.55px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--color4);
    margin-top: 24px;
    margin-bottom: 16px;
}

.big_section_left_text5,
.big_section_left_text6,
.big_section_left_text7,
.big_section_left_text8 {
    font-family: var(--Inter400);
    font-size: 16px;
    font-weight: 400;
    line-height: 21.49px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--color5);
    margin-top: 8px;
    display: flex;
    gap: 18px;
}

.big_section_left_text6,
.big_section_left_text7,
.big_section_left_text8 {
    max-width: 441px;
}

.bi-check-circle-fill {
    color: var(--color4);
    font-size: 20px;
}

.big_section_child_four {
    max-width: 1120px;
    height: 456px;
    margin-top: 32px;
    display: flex;
    gap: 112px;
}

.section_big_img3 {
    max-width: 560px;
    height: 427px;
    border-radius: 8px;
    box-shadow: 0px 10px 10px 0px #0000000A;
    box-shadow: 0px 20px 25px 0px #0000001A;
}

.section_big_text1 {
    font-family: var(--Inter400);
    font-size: 16px;
    font-weight: 400;
    line-height: 21.49px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--color1);
    text-transform: uppercase;
}

.section_big_text2 {
    font-family: var(--Inter700);
    font-size: 32px;
    font-weight: 700;
    line-height: 42.98px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--color4);
    margin-top: 16px;
    margin-bottom: 32px;
}

.section_big_text3,
.section_big_text4,
.section_big_text5,
.section_big_text6,
.section_big_text7,
.section_big_text8,
.section_big_text9,
.section_big_text10 {
    font-family: var(--Inter400);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--color5);
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}

.section_big_text8,
.section_big_text9,
.section_big_text10 {
    max-width: 410px;
}

@media (max-width:1110px) {

    .section_big_img1,
    .section_big_img2,
    .section_big_img3 {
        max-width: 400px;
        height: 350px;
    }
}

@media (max-width:980px) {
    .section_two_content {
        gap: 30px;
    }

    .big_section_child_two,
    .big_section_child_four {
        gap: 50px;
    }

    .big_section_child_there {
        gap: 10px;
    }
}

@media (max-width:890px) {

    .section_big_img1,
    .section_big_img2,
    .section_big_img3 {
        max-width: 350px;
        height: 300px;
    }
}

@media (max-width:840px) {

    .big_section_child_two,
    .big_section_child_there,
    .big_section_child_four {
        flex-direction: column;
        height: auto;
        max-width: 1000px;
    }

    .section_two_content {
        height: auto;
    }

    .section_big_img1,
    .section_big_img2,
    .section_big_img3 {
        max-width: 500px;
        height: 300px;
    }
}

@media (max-width:480px) {

    .big_section_child_two,
    .big_section_child_there,
    .big_section_child_four {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section_big_img1,
    .section_big_img2,
    .section_big_img3 {
        max-width: 350px;
        height: 300px;
    }

    .big_section_left_text3 {
        max-width: 400px;
    }

    .section_big_text2 {
        font-size: 22px;
    }
}

@media (max-width:430px) {

    .big_section_left_text2,
    .big_section_top_text2 {
        font-size: 22px;
    }

    .big_section_child_one>span {
        font-size: 20px;
    }

    .section_big_img1,
    .section_big_img2,
    .section_big_img3 {
        max-width: 300px;
        height: 300px;
    }

    .section_big_text8 {
        max-width: 320px;
    }

    .big_section_left_text6,
    .big_section_left_text7 {
        display: none;
    }
}

@media (max-width:420px) {
    .big_section_left_text7 {
        max-width: 200px;
    }

    .bi-check-circle-fill {
        display: none;
    }

    .big_section_child_there {
        max-width: 400px;
        height: auto;
    }

    .big_section_left_text3 {
        max-width: 300px;
    }

    .section_big_text10 {
        max-width: 300px;
    }

    .section_two_content {
        gap: 80px;
    }
}

@media (max-width:340px) {

    .section_big_img1,
    .section_big_img2,
    .section_big_img3 {
        max-width: 250px;
        height: 300px;
    }

    .big_section_top_text1,
    .big_section_top_text2,
    .big_section_top_text3 {
        text-align: center;
        font-size: 16px;
    }

    .big_section_left_text1,
    .big_section_left_text2,
    .big_section_left_text3,
    .big_section_left_text4,
    .big_section_left_text5,
    .big_section_left_text6,
    .big_section_left_text7,
    .big_section_left_text8 {
        text-align: center;
        font-size: 14px;
    }

    .big_section_left_text5 {
        margin-left: 20px;
    }

    .big_section_left_text6 {
        font-size: 13px;
    }

    .section_big_text1,
    .section_big_text2,
    .section_big_text3,
    .section_big_text4,
    .section_big_text5,
    .section_big_text6,
    .section_big_text7,
    .section_big_text8,
    .section_big_text9,
    .section_big_text10 {
        font-size: 16px;
    }
}

/* over */

.footer {
    width: 100%;
    height: 144px;
    background: var(--bg_blue2);
    margin-top: 64px;
}

.footer_content {
    max-width: 1152px;
    height: 54px;
    margin: 0 auto;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hr {
    color: #E3E3E3;
    width: 1120px;
    height: 1px;
    margin-top: 32px;
    margin-bottom: 21px;
}

.footer_bottom {
    max-width: 1120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 550px;
}

.footer_span {
    color: var(--white);
}

.footer_left,
.footer_right {
    font-size: 16px;
    font-family: var(--Inter400);
    font-size: 16px;
    font-weight: 400;
    line-height: 21.49px;
    letter-spacing: 0.01em;
}

@media (max-width:1155px) {
    .footer_bottom {
        gap: 350px;
    }

    .hr {
        width: 920px;
    }

}

@media (max-width:950px) {
    .footer_bottom {
        gap: 200px;
    }

    .hr {
        width: 700px;
    }

    .footer_left,
    .footer_right {
        font-size: 14px;
    }
}

@media (max-width:730px) {
    .footer_bottom {
        gap: 150px;
        margin-top: 50px;
    }

    .hr {
        display: none;
    }
}

@media (max-width:680px) {
    .footer_bottom {
        gap: 100px;
        margin-top: 50px;
    }

    .footer_left,
    .footer_right {
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width:555px) {
    .footer_bottom {
        flex-direction: column;
        gap: 20px;
    }
}